.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-primary
    if locals.build !== 'production'
            | #{locals.build}
    .container
        a.navbar-brand(href='/') SmashFacts
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
            if locals.user
                ul.navbar-nav
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(data-toggle="dropdown" href="#") Games
                        .dropdown-menu
                            a.dropdown-item(href='/games/ssbm') SSBM

                    li.nav-item
                        a.nav-link(href="/facts/new") New Fact

            ul.nav.navbar-nav.ml-auto
                li.nav-item
                    if locals.user
                        p.nav #{locals.user.name}
                    else
                        a.nav-link(href='../login/twitter') Login